---
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.astro';
import Gallery from '../components/Gallery.jsx';
import RichText from '../components/RichText.jsx';
import { client } from '../lib/sanityClient';
import { urlFor } from '../lib/imageUrl';


const rawSections = await client.fetch(`*[_type == "2d"]{
  title,
  text,
  images[]{
    asset,
    title,
    desc
  }
}`);

// 
const sections = rawSections.map(section => ({
  ...section,
  images: section.images
    .filter(img => img.asset) //
    .map(img => ({
      src: urlFor(img.asset).width(800).url(), //
      title: img.title,
      desc: img.desc
    }))
}));
---

<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <title>agáta slámová</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <style global>
      @import '../styles/reset.css';
      @import '../styles/styles.css';
    </style>
  </head>

  <body>
    <Navbar client:visible />

    <main>
      {sections.map(section => (
        <section class="gallery-section">
          <div class="gallery-text">
            <h2>{section.title}</h2>
            <RichText value={section.text} client:only="react" />
          </div>
          <Gallery images={section.images} client:only="react" />
        </section>
      ))}
    </main>

    <Footer />
  </body>
</html>
